<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
			"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />		
		<setting name="useGeneratedKeys" value="true" />		
		<setting name="defaultExecutorType" value="REUSE" />		
	</settings>
	
	<typeAliases>
		<!-- p -->
		<typeAlias alias="rVO" type="com.githrd.boa.vo.p.ReboardVO" />
		<typeAlias alias="iVO" type="com.githrd.boa.vo.p.MyInfoVO" />
		<!-- k -->
		<typeAlias type="com.githrd.boa.vo.k.MemberVO" alias="mVO"/>
	</typeAliases>
	
	<mappers>
		<!-- p -->
		<mapper resource="com/githrd/boa/sql/p/ReboardSQL.xml" />
		<mapper resource="com/githrd/boa/sql/p/MyInfoSQL.xml" />
		<!-- k -->
		<mapper resource="com/githrd/boa/sql/k/MemberSQL.xml"/>
	</mappers>
</configuration>